Ejemplo DataFrames de Paises

In [2]:
import pandas as pd

Creamos un diccionario con Paises

In [3]:
data_pais = {
    "pais": ["Brasil", "Mexico", "España", "Peru", "Colombia", "Venezuela"]
    , "capital": ["Brasilia", "Ciudad de México", "Madrid", "Lima", "Bogotá","Caracas"]
    , "superficie": [8.5, 1.9, 0.6, 0.4, 1.6, 0.9]}

Creamos un DataFrame a partir del diccionario

In [4]:
df = pd.DataFrame(data_pais)
df

        pais           capital  superficie
0     Brasil          Brasilia         8.5
1     Mexico  Ciudad de México         1.9
2     España            Madrid         0.6
3       Peru              Lima         0.4
4   Colombia            Bogotá         1.6
5  Venezuela           Caracas         0.9

Seleccionar solamente una columna del DataFrame

In [5]:
df[["capital"]]

            capital
0          Brasilia
1  Ciudad de México
2            Madrid
3              Lima
4            Bogotá
5           Caracas

Podemos seleccionar más de una columna

In [6]:
df[["capital", "superficie"]]

            capital  superficie
0          Brasilia         8.5
1  Ciudad de México         1.9
2            Madrid         0.6
3              Lima         0.4
4            Bogotá         1.6
5           Caracas         0.9

Podemos seleccionar filas por su posición de índice.  
Primer índice inclusive y el último no está incluido

In [7]:
df[2:5]

       pais capital  superficie
2    España  Madrid         0.6
3      Peru    Lima         0.4
4  Colombia  Bogotá         1.6

Actualmente tenemos la columna principal de un Index generado
Tenemos la posibilidad de crear una columna como Indice, no importa si es Número o Texto.

In [9]:
df.index = ["BR", "ME", "ES", "PE", "CO", "VE"]
df

         pais           capital  superficie
BR     Brasil          Brasilia         8.5
ME     Mexico  Ciudad de México         1.9
ES     España            Madrid         0.6
PE       Peru              Lima         0.4
CO   Colombia            Bogotá         1.6
VE  Venezuela           Caracas         0.9

Para la selección de filas hemos visto que podemos hacerlo con Index
También podemos hacerlo con iloc y la posición de las columnas que deseamos
Primero son la posición de las filas y después la posición de las columnas

In [10]:
df.iloc[[2, 4], [1, 2]]

   capital  superficie
ES  Madrid         0.6
CO  Bogotá         1.6

Podemos realizar lo mismo, pero mediante loc, que nos permite hacerlo por nombre de columna

In [20]:
df.loc[:, ["capital", "superficie"]]

             capital  superficie
BR          Brasilia         8.5
ME  Ciudad de México         1.9
ES            Madrid         0.6
PE              Lima         0.4
CO            Bogotá         1.6
VE           Caracas         0.9