También vamos a importar una librería para poner valores NULOS dentro de nuestro DataFrame

In [2]:
import pandas as pd
import numpy as np

In [3]:
datos_alumnos = {
    "nombre": ["Julian", "Marcos", "Diana", "Carlos", "Pedro", "Maria"]
    , "nota mates": [6 ,7 ,3, 5, 10, np.nan]
    , "nota lengua": [7, 8, 2, 3, 5, 9]
    }

Almacenamos el Diccionario en un DataFrame y mostramos los 6 primeros registros

In [5]:
df = pd.DataFrame(datos_alumnos)
df.head(6)

   nombre  nota mates  nota lengua
0  Julian         6.0            7
1  Marcos         7.0            8
2   Diana         3.0            2
3  Carlos         5.0            3
4   Pedro        10.0            5
5   Maria         NaN            9

Shape nos permite visualizar el número de filas totales y el número de columnas de nuestro DataFrame

In [ ]:
df.shape

(6, 3)

Podemos recuperar solo las filas o solo las columnas

In [9]:
numFilas = df.shape[0]
numColumnas = df.shape[1]
print(f"Número de filas: {numFilas}")
print(f"Número de columnas: {numColumnas}")

Número de filas: 6
Número de columnas: 3

Podemos averiguar los índices

In [10]:
df.index

RangeIndex(start=0, stop=6, step=1)

Podemos visualizar las columnas

In [11]:
df.columns

Index(['nombre', 'nota mates', 'nota lengua'], dtype='object')

Con INFO, podemos averiguar características de la estructura de nuestro DataFrame

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nombre       6 non-null      object
 1   nota mates   5 non-null      float64
 2   nota lengua  6 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 276.0+ bytes

Tenemos algunas funciones para saber contenidos de datos

In [13]:
df.count()

nombre         6
nota mates     5
nota lengua    6
dtype: int64

Podemos saber la media de un campo

In [14]:
df['nota mates'].mean()

np.float64(6.2)

Tenemos para saber Máximo y mínimo

In [17]:
#df['nota mates'].min()
df['nota mates'].max()

np.float64(10.0)

Tenemos un método que nos permite averiguar datos porcentuales sobre los registros

In [18]:
df.describe()

       nota mates  nota lengua
count    5.000000     6.000000
mean     6.200000     5.666667
std      2.588436     2.804758
min      3.000000     2.000000
25%      5.000000     3.500000
50%      6.000000     6.000000
75%      7.000000     7.750000
max     10.000000     9.000000